.getStart {
  width: 100%;
  height: auto;
}
a {
  display: inline-block;
  width: 20%;
  margin: 20% 40%;
}
img {
  width: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 1200px) {
  a {
    margin-top: 30%;
  }
}
@media only screen and (max-width: 992px) {
  a {
    margin-top: 35%;
  }
}
@media only screen and (max-width: 768px) {
  a {
    margin-top: 45%;
  }
}
@media only screen and (max-width: 600px) {
  a {
    margin-top: 55%;
  }
}
@media only screen and (max-width: 480px) {
  a {
    margin-top: 75%;
  }
}
